# Titulo

## Titulo 2

| Tables | Are | Cool |
| ------------- |:-------------:| -----:|
| col 3 is | right-aligned | $1600 |
| col 2 is | centered | $12 |
| zebra stripes | are neat | $1 |

In [1]:
print('Hola Mundo')

Hola Mundo

In [2]:
nombre = 'Alejandro'

In [3]:
nombre

'Alejandro'

In [4]:
nombre = 'Alejo'
nombre

'Alejo'

In [5]:
edad = 22
edad

22

In [6]:
sueldo = 1.0234
sueldo

1.0234

In [9]:
# Comentario de python
edad_str = '29'
sumar = int(edad_str) + edad
sumar

51

In [11]:
type(sumar)

int

In [14]:
type(edad_str)

str

In [13]:
type(sueldo)

float

In [15]:
"""
asdasdasdsaa
asdasdasdsd
"""

'\nasdasdasdsaa\nasdasdasdsd\n'

In [16]:
parrafo = """
Este es un parrafo
en python
"""

In [17]:
parrafo

'\nEste es un parrafo\nen python\n'

In [24]:
nombre_completo = 'Alejandro Daniel Tupiza Peralta'

In [25]:
nombre_completo.split(' ')

['Alejandro', 'Daniel', 'Tupiza', 'Peralta']

In [20]:
nombre_completo.isalpha()

False

In [26]:
"Alejandro".isalpha()

True

In [27]:
print(f"Me gustan los tacos a mi {nombre_completo}")

Me gustan los tacos a mi Alejandro Daniel Tupiza Peralta