# Diccionarios

In [11]:
# JSON -> Diccionario
isssac = 'Issac'
alejandro = {
    'nombre' : 'Alejandro',
    'apellido' : 'Tupiza',
    'issac':isssac,
    'edad' : 23,
    'hijos' : None,
    'casado' : False,
    'sueldo' : 12.2,
    'mascotas' : [
        {
            'nombre' : 'Cachetes',
            'edad':3,
        }
    ],
    'carro':(0,1,2)
}

In [12]:
alejandro['nombre']

'Alejandro'

In [13]:
alejandro['mascotas']

[{'nombre': 'Cachetes', 'edad': 3}]

In [15]:
alejandro['mascotas'][0]

{'nombre': 'Cachetes', 'edad': 3}

In [16]:
alejandro['mascotas'][0]['nombre']

'Cachetes'

In [17]:
alejandro.get('mascotas')

[{'nombre': 'Cachetes', 'edad': 3}]

In [18]:
alejandro.pop('issac')

'Issac'

In [19]:
alejandro

{'nombre': 'Alejandro',
 'apellido': 'Tupiza',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Cachetes', 'edad': 3}],
 'carro': (0, 1, 2)}

In [20]:
alejandro.values()

dict_values(['Alejandro', 'Tupiza', 23, None, False, 12.2, [{'nombre': 'Cachetes', 'edad': 3}], (0, 1, 2)])

In [21]:
alejandro.keys()

dict_keys(['nombre', 'apellido', 'edad', 'hijos', 'casado', 'sueldo', 'mascotas', 'carro'])

In [22]:
type(alejandro.values())

dict_values

In [23]:
type(alejandro.keys())

dict_keys

In [24]:
for key in alejandro.keys():
    print(f"Llave: {key} Valor: {alejandro[key]}")

Llave: nombre Valor: Alejandro
Llave: apellido Valor: Tupiza
Llave: edad Valor: 23
Llave: hijos Valor: None
Llave: casado Valor: False
Llave: sueldo Valor: 12.2
Llave: mascotas Valor: [{'nombre': 'Cachetes', 'edad': 3}]
Llave: carro Valor: (0, 1, 2)

In [25]:
alejandro

{'nombre': 'Alejandro',
 'apellido': 'Tupiza',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Cachetes', 'edad': 3}],
 'carro': (0, 1, 2)}

In [26]:
alejandro['issac'] = isssac

In [27]:
alejandro

{'nombre': 'Alejandro',
 'apellido': 'Tupiza',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Cachetes', 'edad': 3}],
 'carro': (0, 1, 2),
 'issac': 'Issac'}

In [28]:
valores_nuevos = {
    'talia':'Talia',
    'rafico':'Rafico',
    'lula':'Lula',
}

In [29]:
alejandro.update(valores_nuevos)

In [30]:
alejandro

{'nombre': 'Alejandro',
 'apellido': 'Tupiza',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Cachetes', 'edad': 3}],
 'carro': (0, 1, 2),
 'issac': 'Issac',
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [31]:
alejandro.get('mascotas')[0].update(valores_nuevos)

In [32]:
alejandro

{'nombre': 'Alejandro',
 'apellido': 'Tupiza',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Cachetes',
   'edad': 3,
   'talia': 'Talia',
   'rafico': 'Rafico',
   'lula': 'Lula'}],
 'carro': (0, 1, 2),
 'issac': 'Issac',
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [33]:
alejandro.get('asd')

In [35]:
# alejandro['asd'] -> Error